<nav class="d-flex gap-2 justify-content-center mb-3 mt-3 align-items-center">
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    <a href="{% url 'stats' %}" class="btn btn-primary">Estatísticas</a>
    <a href="{% url 'add' %}" class="btn btn-primary">Adicionar Assalto</a>

    <div class="text-center dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="yearDropdown">Selecione o Ano</button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#" onclick="updateMap(2024)">2024</a></li>
            <li><a class="dropdown-item" href="#" onclick="updateMap(2023)">2023</a></li>
            <li><a class="dropdown-item" href="#" onclick="updateMap(2022)">2022</a></li>
        </ul>
    </div>
</nav>