{% extends 'base.html' %}
{% block title %}Adicionar Assalto{% endblock %}
{% load static %}

{% block content %}
<div class="container w-50 mt-3 mb-3 mx-auto">
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <nav class="d-flex align-items-center gap-2">
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a href="{% url 'home' %}" class="btn btn-danger ">Voltar</a>
        </nav>
    </form>
</div>
{% endblock %}