<!DOCTYPE html>
<html lang="pt-br">
{% include 'partials/_head.html' %}
{% load static %}

<body class="bg-dark text-light">
    {% include 'partials/_navBar.html' %}

    <div class="container mt-3">
        {% include 'partials/_loadMessages.html' %}
        {% block content %}{% endblock %}

    </div>
    
   
    {% include 'partials/_footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'removeMessage.js' %}"></script>
</body>
</html>