{% extends 'heatmap/base.html' %}
{% block title %}Mapa de Assaltos{% endblock %}
{% load static%}

{% block content %}
<div class="dropdown-center text-center mb-3 mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="yearDropdown"></button>
    
    <ul class="dropdown-menu dropdown-menu-dark text-center">
      {% for year in years %}
        <li><a class="dropdown-item {% if year == '2025'%}active{% endif %}" href="#" onclick="updateMap('{{ year }}')">{{ year }}</a></li>
      {% endfor %}
    </ul>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1" onclick="changeMapType('heat')">Heatmap</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2" onclick="changeMapType('points')">Pontos</label>
    </div>
</div>

<div id="map" style="width: 100% ; height: 70vh;" class="rounded mx-auto"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<script src="{% static 'mapa.js' %}"></script>
{% endblock %}

